In [1]:
import pandas as pd

In [9]:
df = pd.DataFrame({
    'date': pd.date_range('2012-02-25', '2012-03-03')
})
df

        date
0 2012-02-25
1 2012-02-26
2 2012-02-27
3 2012-02-28
4 2012-02-29
5 2012-03-01
6 2012-03-02
7 2012-03-03

In [10]:
df['Fiscal'] = df.date + pd.DateOffset(months=3)
df

        date      Fical
0 2012-02-25 2012-05-25
1 2012-02-26 2012-05-26
2 2012-02-27 2012-05-27
3 2012-02-28 2012-05-28
4 2012-02-29 2012-05-29
5 2012-03-01 2012-06-01
6 2012-03-02 2012-06-02
7 2012-03-03 2012-06-03