# [Make Toy Data Structures With Pandasâ€™ Testing Module](https://realpython.com/python-pandas-tricks/y)

In [16]:
import pandas.util.testing as tm
import numpy as np

np.random.seed(12345)
tm.N, tm.K = 15, 3  # Module-level default rows/columns

In [17]:
print([i for i in dir(tm) if i.startswith('make') & i.endswith('Index')])
tm.makeStringIndex()

['makeBoolIndex', 'makeCategoricalIndex', 'makeCustomIndex', 'makeDateIndex', 'makeFloatIndex', 'makeIntIndex', 'makeIntervalIndex', 'makeMultiIndex', 'makePeriodIndex', 'makeRangeIndex', 'makeStringIndex', 'makeTimedeltaIndex', 'makeUIntIndex', 'makeUnicodeIndex']

Index(['ILDbKPLIDb', '2X7oPB32qY', 'jlnkrsMhRN', 'xD43F9HBxK', 'aVd88fp3lo',
       'ZrRfI1ZifI', 'Sf7tmo7qBM', 'yGRfkmwm4P', 'sYs5U6xvhr', '7aAS5oAREJ'],
      dtype='object')

In [19]:
print([i for i in dir(tm) if i.startswith('make') & i.endswith('DataFrame')])

['makeDataFrame', 'makeMixedDataFrame', 'makeTimeDataFrame']

In [3]:
tm.makeTimeDataFrame(freq='M').head()

                   A         B         C
2000-01-31 -0.204708  0.886429 -0.713544
2000-02-29  0.478943 -2.001637 -0.831154
2000-03-31 -0.519439 -0.371843 -2.370232
2000-04-30 -0.555730  1.669025 -1.860761
2000-05-31  1.965781 -0.438570 -0.860757

In [4]:
tm.makeDataFrame().head()

                   A         B         C
h5fTs0ilsf  0.286350 -1.392916 -0.205313
82LjS9MbUz -0.622144 -0.454878 -0.248538
R1aniisVpA  0.958238  0.476057  0.129384
GSYGwftpIC  0.794095  0.576800  2.514899
heNYdwG1nu -0.755709  0.647174  0.476679